
<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/css/normalize.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/grid.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">

<title> Freight Calculator </title>

</style>
</head>


<body>


<div class="container clearfix" >

	<div class="grid_5" align="center">
	<h2><i>Ben's Freight Calculator</i></h2>
	<A HREF="mailto:Benthomaspatterson@gmail.com?subject=Regarding the freight calculator website">Contact me!</A>
		
	</div>
	
	<br>
	<div class="grid_5 intro">

  I'll be 
  expanding this as I continue 
  to study programming, web
  design and, web development. Please come back
  and check this out later. 


</div>
	
		<br>
	<br>

	<br>
	<br>

	<br>
	<br>
		<br>
	<br>

	<br>
	<br>

	<br>
	<br>



	<div class="grid_12">
	<fieldset>

	<table cellpadding="10px">


		<thead>
		
		<th>Piece(s)</th>
		<th>Length</th>
		<th>Width</th>
		<th>Height</th>
		<th>Unit of Measure</th>
		<th>Total Weight</th<!---need to add an option by piece -->
		<th> Kilograms/Pounds</th>
		<th>Hazardous?</th><!---a link to how to tell if freight is hazardous should be here-->
		</thead>
			
			

			
		<tr>
			

		<td>
		<form method="post" >


			

			<input type="number" name ="pcs" id="pcs" value={{pcs}} >

		</td>
		<td>
			
			
			<input type="number" step="any" id ="length" name ="length" value={{length}}>
		</td>
		<td>

			<input type="number" step="any" name ="width" id="height" value ={{width}}>
		</td>
		<td>
			<input type="number" step="any" name ="height" id="height" value={{height}}>

		</td>
		<td>
			
			
			<select  name="measure">
			
			{% for value in ["", "CM", "IN"]%}
				{% if value == sel_measure %}
					<option value={{value}} selected>{{value}}</option>
				{%else%}
					<option value= {{value}}>{{value}}</option>
				{%endif%}
			{%endfor%}

			

			</select>


		</td>

		

		

		<td>

			<input type="number" step="any" name ="weight" value={{weight}}>

		</td>
		<td>


			<select name="Weight_Type" id="Weight_Type">
				
			{% for value in ["", "KG", "LB"]%}
				{% if value == sel_weight  %}
					<option value={{value}} selected>{{value}}</option>
				{%else%}
					<option value= {{value}}> {{value}}</option>
				{%endif%}
			{%endfor%}


			</select>
		</td>
		<td>

			<select name="hazardous" id ="hazardous">
				
			{% for value in ["", "HAZARDOUS", "NON-HAZARDOUS"]%}
				{% if value == sel_haz  %}
					<option value={{value}} selected>{{value}}</option>
				{%else%}
					<option value= {{value}}>{{value}}</option>
				{%endif%}
			{%endfor%}


			</select>
		<td>	
		
		
		<tr>
		<td>
			<button type ="submit">Submit</button><!---need to add an add line buttone -->
		</td>
		</tr>
		</form>

	</table>
	</fieldset>

	<br>
	<br>

	<br>
	<br>

	<br>
	<br>
	<fieldset>
		<table id="output"  cellpadding=10px border ="0">

		<td>{{M3}} </td><td>{{CFT}} </td> <td>{{dim}} <tr><td>{{weightkg}} </td> <td>{{weightlb}} </td></tr>
		<tr>
		<div style="color:red;">{{error_message}}</div>
	
		</tr>
		</table>
	</fieldset>
	</tr>
	
	</div>

</div>

</body>

</html>


