
<!DOCTYPE html>
<html>
<head>



<title> Freight Calculator  </title>


</head>


<body>


	<table >


		<thead>
		
		<th>Piece(s)</th>
		<th>Length</th>
		<th>Width</th>
		<th>Height</th>
		 
		<th>Total Weight </th>

		</thead>

			
			
		<form id="packages" method="post" >
		
		<tr>
			

			<td>

				<input type="number" name ="P" >

			</td>
			
			<td>
				
				<input type="number" name ="L"  >
			</td>

			<td>

				<input type="number" step="any" name ="W" >
			</td>

			<td>

				<input type="number" step="any" name ="H" >

			</td>
  
			

			<td>
	

				<input type="number" step="any" name ="wt" value={{'%1.1f' % boxes.weight()}}>

			</td>

	
		
		<tr>
		<td>
			 <input type="radio" name="measure" value=0  {% if boxes.measure_type == "IN" %} checked {%endif%}> IN
			 
			 <input type="radio" name="measure" value=1 {% if boxes.measure_type == "CM" %} checked {%endif%}> CM
			 
		</td>

		<td>
			 <input type="radio" name="metric" value=0 {% if boxes.weight_type == "LBS" %} checked {%endif%}> LBS
			 
			 <input type="radio" name="metric" value=1  {% if boxes.weight_type == "KGS" %} checked {%endif%}> KGS
			 
		</td>

		<td>
			<button type ="button" name="calculate">Calculate</button><!---need to add an add line buttone -->
		</td>
		</form>

		</tr>
		

	</table>
	</fieldset>


	<fieldset>
		<ul id="output">
			
		

			 <script type="text/javascript"> 

			 var in_cm = function(number) {	
			 	return number * 2.54;
			 }
			 var dims_m3 = function(dims) {
			 	 //takes cm as input
			 	return (dims[0] * dims[1] * dims[2] * dims[3])/ 1e6;
			 }

			 var lb_kgs = function(pounds){
			 	return pounds * 0.45359237;
			 }

			 var dims = function(form){
			 	//return array of dims
			 	//[pieces, length, width, height, weight per pc]
			 	var p, l, w, h, wt;
			 	p = (form['P'].value)

			 	if (form['metric'].value === "0") {
			 		wt = lb_kgs(form['wt'].value)/p;
			 		}
			 	else
			 		{ wt = form['wt'].value/p };

			 	if (form['measure'].value === "0") {
			 		l = in_cm(form['L'].value);
			 		w = in_cm(form['W'].value);
			 		h = in_cm(form['H'].value);
			 		}
			 	else
			 		{l = (form['L'].value);
			 		w = (form['W'].value);
			 		h = (form['H'].value); };
			  return [p, l , w, h, wt]

			 };

	



			packages.elements.calculate.onclick = function() {
				 var shipment = dims(document.forms['packages']);
				 var cubic_m = dims_m3(shipment).toFixed(3);;
				 var total_kgs = (shipment[0] * shipment[4]).toFixed(2);;
				 var total_lbs = (total_kgs * 2.20461).toFixed(2);;
				 var cubic_ft = (cubic_m * 35.315).toFixed(2);;
				 var dim_wt = ((shipment[0] *  shipment[1] * shipment[2]* shipment[3])/6000).toFixed();
				 var iata_chargeable = dim_wt > total_kgs ? dim_wt : total_kgs
	
			var output = document.getElementById("output");
			
			var results =  "<li> Cubic Meters = "+cubic_m +"</li>"
						  +"<li> Cubic Feet = "+cubic_ft +"</li>"
						  +"<li> Total Kilograms = "+total_kgs +"</li>"
						  +"<li> Total Pounds = "+ total_lbs +"</li>"
						  + "<li> IATA Chargeable = " +iata_chargeable +"</li>";

			output.innerHTML = results;
		
					}

			</script>

		</ul>


	</fieldset>
	</tr>
	
	</div>

</div>

</body>

</html>


